*{
	margin: 0;
	box-sizing: border-box;
}
a{
	text-decoration: none;
}
body{
	font-family: 'Arial', sans-serif;
}
/*------------ Container -----------------------*/
.container{
	background-color: lightgray; 
}
.titulo-container{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px;
	background-color: lightpink;
}

/*------------ INDEX E PRODUTOS   ----------------------*/
.lista-opcoes{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	text-align: center;
	justify-content: space-around;
}
.opcao img{
	width: 80%;
	margin: 0;
	padding: 0;
	height: 80%;
	opacity: 0.8;
}
.produto img{
	width: 100%;
	margin: 0;
	padding: 0;
	height: 80%;
	opacity: 0.8;
}
.opcao{
	width: 50%;
	padding: 10px;
}
.produto{
	width: 33%;
	padding: 10px;
}
figcaption{
	padding: 5px;
}
.preco{
	padding: 5px;
	font-weight: bold;
	display: block;
}
.plantas img:hover{
	width: 105%;
	box-shadow: 2px 2px 5px #333;
	transition: 1s;
}
h3{
	color: black;
}
/*---------------- FORMULÁRIOS ---------------------*/
.container-cont{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: lightgray;
}
#localizacao{
	display: flex;
	flex-direction: column;
	width: 40%;
	align-items: center;
}
.contato{
	width: 60%;
}
.orcamento{
	background-color: lightpink;
	text-align: center;
	padding: 15px;
}
.form-item{
	padding: 10px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.msg-erro{
	font-size: 10pt;
	color: red;
}

.label-alinhado{
	width: 35%; 
	text-align: right;
}
input[type="text"], input[type="email"], select{
	border: 1px solid gray;
	padding: 5px;
}
label{
	margin-right: 5px;
}
#exibirField{
	display: none;
	text-align: center;
}
#nosso-contato{
	display: flex;
	flex-direction: column;
	padding: 10px;
	background-color: #967f6f;
	align-items: flex-end;
}#localizacao a{
	color: white;
}
#nosso-contato h3, #nosso-contato p{
	padding: 15px;
	color: white;
}